body{
    margin: 0;
    font-family: "PT Sans";
}

.pane {
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
    max-width: 600px;
    margin-right: 20px;
}

.inline {
    display:inline-block;
}